<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287085646411-t56tuasba2b20h123pri21hg0968o3ft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287085646411-t56tuasba2b20h123pri21hg0968o3ft</string>
	<key>API_KEY</key>
	<string>AIzaSyBUcugj2CRpskjKMFftzJVjhtYZbknU84s</string>
	<key>GCM_SENDER_ID</key>
	<string>287085646411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.rfc1034identifier</string>
	<key>PROJECT_ID</key>
	<string>foody-app-react-native</string>
	<key>STORAGE_BUCKET</key>
	<string>foody-app-react-native.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287085646411:ios:09bb2adf3df9d8b3fff3ce</string>
</dict>
</plist>